.applied-section {
    width: 20%;
}
.applied {
    border: 1px groove grey;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    margin: 2% 0 2% 0;
    padding: 2%;
    li {
        list-style: none;
        margin-bottom: 11%;
    }
}