body {
    text-align: center;
    .jobList {
        .jobItems {
            border: 1px groove grey;
            background-color: lightgray;
            color: white;
            margin: 2% 0 2% 0;
            padding: 2%;
            width: 75%;
            li {
                list-style: none;
                margin-bottom: 11%;
            }
        }
    }
}